<section class="content">
    <div style="text-align: center;">
        <h2>Регистрация прошла успешно!</h2>
        Ссылка для активации вашей учетной записи отправлена вам на email.
    </div>
</section>