* {
    font-family: 'Comfortaa', cursive;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #253148;
    --text-color: #5D5D5D;
    --main_color: #5b92e5;
    --card-color: #f0f8ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
    color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: #E5E5E5;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: #E5E5E5;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover {
    color: var(--main_color);
}

.navbar .active {
    color: var(--main_color);
}

.auth {
    font-size: 1.7rem;
    color: #E5E5E5;
}

.auth a {
    font-size: 1.7rem;
    color: var(--main_color);
}

.auth form .input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.auth form, .input-box input {
    width: 100%;
    /*padding: 1.5rem;*/
    font-size: 1.6rem;
    color: var(--text-color);
    /*background: var(--second-bg-color);*/
    border-radius: .8rem;
    margin: .7rem 0;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--main_color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main_color);
    font-size: 1.4rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover {
    box-shadow: none;
}

/*.content {*/
/*    display: flex;*/
/*    padding: 3rem;*/
/*}*/

.catalog h2 {
    margin-bottom: 5rem;
}

.catalog-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.catalog-container .catalog-box {
    flex: 0 3 35rem;
    background-color: var(--card-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
}

.catalog-container .catalog-box:hover {
    border-color: var(--main_color);
    transform: scale(1.02);
}

.catalog-box i {
    font-size: 7rem;
    color: var(--main_color);
}

.catalog-box h3 {
    font-size: 2.6rem;
}

.catalog-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.basket-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem;
}

.basket-box button {
    font-size: 1.2rem;
    display: inline-block;
    padding: 0.7rem 0.7rem;
    background-color: var(--main_color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--main_color);
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    cursor: pointer;
}

.basket-box button:hover {
    box-shadow: none;
}

.basket-box button:disabled {
    box-shadow: none;
    background-color: var(--card-color);
    cursor: default;
}

.basketCountInfo {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.auth-form {
    display: none;
}

.orderList {
    font-size: 150%;
    color: black;
    border-collapse: collapse;
    width: 100%;
}

.orderList td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.orderList tr:nth-child(even) {
    background-color: #dddddd;
}

.sign-up-box {
    background-color: var(--second-bg-color);
    color: #E5E5E5;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-up-box h2 {
    padding-top: 2rem;
    font-size: 2.5rem;
}

.sign-up-box form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.sign-up-box form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sign-up-box form .input-box input {
    width: 80%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: .8rem;
    margin: .7rem 0;
}

.sign-up-box form .btn {
    margin: 2rem;
    cursor: pointer;
}

.sign-up-error-message {
    background-color: #f82929;
    color: black;
    font-size: 1.6rem;
    width: 80%;
    padding: 1.5rem;
    border-radius: .8rem;
    margin: .7rem 0;
}