<section class="content">
    <h2 class="heading"> <span>Добро пожаловать</span></h2>
    <h3>Данный сайт является учебным проектом Владислава Петрова. Написан на языке PHP с применением JS.
        Раработан на самописном MVC фреймворке c применением паттернов проектирования
    </h3>
</section>