<section class="content">
    <h2 class="heading"><span>Добро пожаловать</span></h2>
    <h3>Данный сайт является учебным проектом Владислава Петрова. Написан на языке PHP с применением JS.
        Раработан на самописном ООП MVC фреймворке c применением паттернов проектирования Singletone, Storage,
        Repository.
        Верстка выполнена на шаблонизаторе TWIG.
        Работа с базой MySQL построена на PDO.
        Асинхронные CRUD операции AJAX
        В данном проекте реализован функционал: регистрация, авторизация, пагинация, панель администратора
    </h3>
</section>