<h2>Каталог</h2>

{% for item in catalog %}
<div>
    <h3><a href="/?c=product&a=card&id={{ item.id }}">{{ item.name }}</a></h3>
    <p>{{ item.name }}</p>
    <button>Купить</button>
</div>
{% else %}
нет товаров
{% endfor %}

<a href="/?c=product&a=catalog&page={{ page }}">Ещё</a>
